@import "sched.scss";
@import "reviewer.scss";

body {
    font-family: "Noto Sans", "Noto Sans CJK KR", -apple-system,
        Helvetica, Arial, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

html, body, .app-body {
    height: 100%;
}

.app-container {
    position: relative;
    margin-top: 2em;
}

.invisible {
    display: none;
}

ul {
    list-style-type: disc;
    ul {
        list-style-type: circle;
        ul {
            list-style-type: square;
        }
    }
}
