.cm-cloze-header {
    color: #17a2b8;
}

.cm-cloze-footer {
    color: #17a2b8;
}

.cm-cloze-hint-separator {
    color: #17a2b8;
}


.cm-cloze-hint {
    color: #3a7fff;
}

.cm-underline {
    text-decoration: underline;
}
